body {
    font-family: sans-serif;
    font-size: 20px;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px 40px;
    border: 3px solid gray;
    background-color:  cornflowerblue;
}

.top-row {
    width: 100%;
    margin-bottom: 20px;
}

nav {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    color: black;
    margin-left: 80px; 
}

nav a:hover {
    background-color: lightblue;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 12px;
}

.logo img {
    border-radius: 200%;
    padding: 5px;
    /*display: block;*/
}

h1 {
    padding-left: 30px;
    font-size: 19px;
}

.search-bar {
    display: flex;
    margin-bottom: 12px;
    gap: 6px;
    justify-content: flex-end;
    width: 100%;
}

.search-bar input {
    padding: 6px 10px;
    border: 1px solid black;
    outline: none;
}

.search-bar button {
    color: #bc3fed;
    padding: 6px 15px;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

p {
    text-align: center;
}

footer {
    padding: 28px;
    margin-top: 40vh;
    text-align: center;
    background: linear-gradient(to right, white, black);
}

@media (max-width: 600px) {
    .real {
        flex-direction: column;
        text-align: center;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .navbar a {
        font-size: 18px;
    }

    #todo img {
        width: 100px;
        height: 100px;
    }
}
